body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 45%; /* Adjust width as necessary */
    margin-bottom: 20px; /* Add space between sections */
}

.ticket-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ticket-images img {
    max-width: calc(200px); /* Ensure each image takes up to half of the section's width minus padding */
    margin-bottom: 200px; /* Add space between images */
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Add a subtle shadow to each image */
}
